<h1><span class="name"><%= @course.course_name %></span></h1>
<p2>Subjects list</p2>
  <% if signed_in?%>
    <p>
    <% @course_subjects.each do |course_subject| %>
      <% subject = course_subject.subject %>
      <p><%=link_to subject.subject_name,subject_path(subject.id) %> </p>
    <% end %>
    </p>  
  <% else %>
  <% end %>
<p2>Description</p2>
<p><span class="decription"><%= @course.description %></span></p>
<p2>Action</p2>
<p><%=link_to "Add Enroll",'#' %> </p>
